.layout {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    width: 100%;
}

.header {
    //position: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main {
    flex: 1;
    margin-top: 100px; /* Отступ для фиксированного header */
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer {
    height: 100px;
    background-color: #f5f5f5;
    z-index: 1000;
    border-top: 1px solid #e0e0e0;
}