.container {
    padding: 24px;
    // max-width: 1200px;
    margin: 0 auto;
}

.error {
    color: #d32f2f;
    padding: 16px;
    background-color: #ffebee;
    border-radius: 8px;
    margin-top: 16px;
}