@use "@/assets/styles/sizes" as *;


.passwordInputContainer {
    position: relative;
    width: 100%;
    height: 30px; /* Фиксированная высота, равная высоте input */
}

.input {
    // width: 100%;
    // background-color: #F0F4F7;
    // padding: 5px 40px 5px 10px;
    // color: black;
    // border-radius: 15px;
    // border: 1px solid #B3B7C2;
    // height: 30px;
    // box-sizing: border-box;
    // font-size: 16px;

    background-color: #F0F4F7;
    padding: 5px 10px;
    color: black;
    border-radius: 15px;
    border: 1px solid #B3B7C2;
    height: $authInputHeight;
    width: 100%;
    transition: all 0.2s ease-in-out;


    &:focus {
        outline: none;
        border-color: #b3c9e1;
        box-shadow: 0 0 0 3px rgba(179, 201, 225, 0.3);
    }

    &:disabled {
        background-color: #e9ecef;
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.toggleButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: $authInputHeight;
    height: $authInputHeight;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    transition: none;
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;

    &:hover:not(:disabled) {
        background-color: transparent;
    }

    &:active:not(:disabled) {
        background-color: transparent;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}